.vdfkv {
    font-size: 34px;
    color: rgb(102, 255, 0);
    background-color: blue;
}
.bfr {
    font-size: 42px;
    color: aqua;
}

#sigmapronaikpro {
    color: rgb(255, 94, 0);
}
img {
    height: 250px;
    width: 250px;
    border: double 510px pink;
}